option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SUPERUSER_PASSWORD: "Riyavri@24"

container_commands:
  01_migrate:
    command: "cd /var/app/ondeck && source /var/app/venv/staging-*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "cd /var/app/ondeck && source /var/app/venv/staging-*/bin/activate && export DJANGO_SUPERUSER_PASSWORD=Riyavri@24 && python manage.py createsuperuser --username vritika --email vritika0703@gmail.com --noinput || true"
    leader_only: true
